<!-- Top navigation bar with page titles -->

<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand" style="color:#fff;"><img src="/img/be.png" style="width: 40px;"> BullsEye Inventory Control System</span>
    <span class="navbar-brand" style="color:#fff "><%= pageTitle %></span>
</nav>