<!-- Top navigation bar with page titles -->

<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand" style="colour:#fff ">  BullsEye Inventory Control System</span>
    <span class="navbar-brand" style="colour:#fff "><%= pageTitle %></span>
</nav>