<% if (this.session == null) {%>

    <div class="container">
      <div class="jumbotron">
  
          <div class="row">
              <p>Please login to continue</p>
            
              <button class="btn btn-primary"><a href="/" class="btn btn-primary">Return</a></button>
            </div>
  
      </div>
  
  
    </div>
  
  
  <% } else {%>