<!-- Page to add categories. Uses header and footer partials -->

<% include ../partials/header %>

<div class="container mt-5">
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="/admin/cat/add" method="POST" class= "col s12">
                
                <div class="form-group row">
                        <div class="col-10">
                            <label for="categoryName" class="col-10 col-form-label">Category Name</label>
                                <input type="text" name="categoryName" value=""  class="form-control" maxlength="32" autofocus required>
                              </div>

                              <br><br>
                </div>

      
                <div class="row">
 
                    <button type="submit" class="btn btn-primary">
                      Submit Category
                    </button> 
    
                    <button class="btn btn-danger"><a href="/admin/cat" class="btn btn-danger">Cancel</a></button> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<% include ../partials/footer %>