<% include ../partials/header %>

<div class="container mt-5">
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="/admin/invt/add" method="POST" class= "col s12">
                
                <div class="form-group row">
                        <div class="col-10">
                            <label for="site" class="col-10 col-form-label">Site</label>
                            <select name="supplier" class="col-10 form-control">
                                    <% for(var i = 0; i < items.length; i++) { %>
                                    <option value="<%= items[i].supplierID %>"><%= items[i].supplierID %></option>
                                    <% } %>
                                  </select>
                        </div>
                        <div class="col-10">
                                <label for="quantity" class="col-10 col-form-label">Quantity</label>
                                <input type="text" name="quantity" value=""  class="form-control" autofocus>
                            </div>
                        <div class="col-10">
                            <label for="itemLocation" class="col-10 col-form-label">Item Location</label>
                            <input type="text" name="itemLocation" value=""  class="form-control" autofocus>
                        </div>
                        <div class="col-10">
                            <label for="reorderThreshold" class="col-10 col-form-label">Reorder Threshold</label>
                            <input type="text" name="reorderThreshold" value=""  class="form-control" autofocus>
                        </div>
                        <div class="col-10">
                                <label for="maxReorderWarning" class="col-10 col-form-label">Max Reorder Warning</label>
                                <input type="text" name="maxReorderWarning" value=""  class="form-control" autofocus>
                            </div>
                </div>

      
                <button type="submit" class="btn btn-primary">
                  Submit Inventory Entry
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

<% include ../partials/footer %>