<% include ../partials/header %>

<div class="container mt-5">
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="/admin/crud/category/add" method="POST" class= "col s12">
                
                <div class="form-group row">
                        <div class="col-10">
                            <label for="categoryName" class="col-10 col-form-label">Category Name</label>
                                <input type="text" name="categoryName" value=""  class="form-control" autofocus>
                              </div>
                </div>

      
                <button type="submit" class="btn btn-primary">
                  Submit Category
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

<% include ../partials/footer %>