<!-- Main admin page with links to each option to change. Uses header and footer partials -->

<% include ../partials/header %>


        <div class="row">

                <% include ../partials/menuDashboard %>
                <div class="col-sm-9 col-md-9">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Administration Dashboard</h3>
                          </div>
                          <div class="panel-body">

                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <br>
                        <div class="row">
                          
                          <center>
                          
                          <button class="btn btn-primary"><a href="/admin/emp" class="btn btn-primary">Employees</a></button> 
                          <button class="btn btn-primary"><a href="/admin/item" class="btn btn-primary">Items</a></button> 
                          <button class="btn btn-primary"><a href="/admin/invt" class="btn btn-primary">Inventory</a></button>
                        
                        </center>
                        
                        </div>

                        <br> 
                        <div class="row">
                        
                          <center>
                            
                            <button class="btn btn-primary"><a href="/admin/site" class="btn btn-primary">Sites</a></button> 
                            <button class="btn btn-primary"><a href="/admin/supp" class="btn btn-primary">Suppliers</a></button> 
                            <button class="btn btn-primary"><a href="/admin/cat" class="btn btn-primary">Categories</a></button>
                          
                          </center>
                        </div>
                      </div>
                      <div class="col-sm-5 col-md-5"></div>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

<% include ../partials/footer %>