<!-- Index page for sites. Uses header and footer partials -->

<% include ../partials/header %>

<div class="row">

        <% include ../partials/menuDashboard %>
        <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Orders</h3>
                  </div>
                  <div class="panel-body">

                        <div class="">
                               
                          </div>


                    
                    </div>
                  </div>
                </div>
              </div>


<% include ../partials/footer %>