<% include ../partials/header %>

<div class="row">

        <% include ../partials/menuDashboard %>

        <div class="col-sm-9 col-md-9 col-xl-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Welcome!</h3>
                  </div>
                  <div class="panel-body">

                    
                    </div>
                  </div>
                </div>
              </div>
            </div>


<% include ../partials/footer %>